@model EntityLayer.Concrete.About
@{
    ViewBag.Title = "HakkimizdaGuncelle";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@using (Html.BeginForm("HakkimizdaGuncelle", "Anasayfa", FormMethod.Post, new { @class = "pt-3" }))
{

    @Html.TextBoxFor(x => x.HakkimizdaID, new { style = "display: none;" })

    <div class="form-group col-12  ">
        @Html.Label("Hakkımızda İçerik")
        @Html.TextAreaFor(x => x.İcerik, 8, 40, new { @class = "form-control", required = "required", id="summernote" })
    </div>
    <div class="col-8">
        <button class="ekle-button px-5 py-2">Güncelle</button>
    </div>

}


