@using EntityLayer.Concrete
@model List<AreasOfExpertise>
@{
    ViewBag.Title = "UzmanlikAlanlarimizListe";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<table class="table">
    <!--direkt table classını verirrsek tablomuz daha güzel bir hal alır-->
    <thead>
        <tr>
            <th>Uzmanlık Alanı</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UzmanlikAlaniBaslik</td>
                <td><a class="duzenle-button px-3 py-2" href="/UzmanlikAlanlarimiz/UzmanlikAlaniGuncelle/@item.UzmanlikAlaniID">Düzenle</a></td>
                <td><a class="kaldir-button px-3 py-2 deleteButton" href="/UzmanlikAlanlarimiz/UzmanlikAlaniKaldir/@item.UzmanlikAlaniID">Kaldır</a></td>
            </tr>
        }
    </tbody>
</table>
<a class="ekle-button px-3 py-2" href="/UzmanlikAlanlarimiz/UzmanlikAlaniEkle">Yeni Uzmanlık Alanı Ekle</a>

